.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    height: 50px;
    color: #000000;
  }

    img {
        vertical-align: middle;
    }
    .image-link {
        height: 150px;
        width: 150px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .image-comp {
        height: 360px;
        width: 440px;
        margin-bottom: 7px;
        margin-top: 7px;
        margin-left: 37px;
        margin-right: 5px;
    }
    .image-main {
        height: 360px;
        width: 420px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .container {
        background-color: #a2caf8;
    }
    .table {
        background-color: #fdfdfd;
    }
    .table-responsive {
        overflow-x: auto;
        min-height: 0.01%;
      }
      @media screen and (max-width: 767px) {
        .table-responsive {
          width: 100%;
          margin-bottom: 15px;
          overflow-y: hidden;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          border: 1px solid #ddd;
        }
      }
      /* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }
  